{
  "branches": [
    "main",
    {
      "name": "beta",
      "prerelease": true
    },
    {
      "name": "alpha",
      "prerelease": true
    }
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "KIND=$KIND_OF_PROJECT; if [ -z \"$KIND\" ]; then if [ -f src/module.json ]; then KIND=module; else KIND=system; fi; fi; MODULE_VERSION=${nextRelease.version} GH_TAG=v${nextRelease.version} npm run build && cd dist && zip -r \"$KIND.zip\" . -x \"$KIND.zip\"",
        "successCmd": "if [ -n \"$RELEASE_AUTH_TOKEN\" ]; then RELEASE_VERSION=${nextRelease.version} npm run publish; else echo 'FVTT_PUBLISH_TOKEN is not set - skipping Foundry registry publish'; fi"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          { "path": "dist/{system,module}.json" },
          { "path": "dist/{system,module}.zip" }
        ]
      }
    ]
  ]
}
